{{#if tasks}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <th>N.</th>
      <th>Title</th>
      <th>Description</th>
      <th>Operations</th>
    </thead>

    <body>

      {{#each tasks}}
        <tr>
          <td>{{@index}}</td>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>

            {{#if done}}
              <a
                href="/tasks/{{_id}}/toggleDone"
                class="btn btn-warning"
              >Undone</a>
            {{else}}
              <a
                href="/tasks/{{_id}}/toggleDone/"
                class="btn btn-success"
              >Done</a>
            {{/if}}

            <a href="/tasks/{{_id}}/delete" class="btn btn-danger">Delete</a>
            <a href="/tasks/{{_id}}/edit" class="btn btn-info">Update</a>
          </td>
        </tr>
      {{/each}}
    </body>
  </table>
{{else}}
  <div class="text-center">
    <h1>Add a task, it's free.</h1>
    <img clas="thumbnail img-responsive" src="/icons/arrow.png" alt="" />
  </div>

{{/if}}